<header>
    <img src="assets/assets/logo_full_color.svg" alt="Wolox Logo" style="width: 10%;">
    <nav>
        <li><a href="#" style="font-weight: bold;">Inicio</a></li>
        <li><a href="#features" style="font-weight: bold;">Beneficios</a></li>
        <li><a routerLink="/registro" style="font-weight: bold;">Login</a></li>			
    </nav>    
</header>


<section class="mainT background-image" style="background-image: url(assets/assets/Backgrounds/Bg_Header@2x.png);">
    <!-- <div class="background-image" style="background-image: url(assets/img/hero.jpg);"></div> -->
    <ul class="grid">
        <li class="small" style="margin-top: 75px;">
            <h2 style="text-align: justify; margin-top:50px; color:#000">Bienvenido a tu</h2>					
            <h2 style="text-align: justify; color:#000"><span style="font-weight: bold;">Entrevista Técnica</span> en</h2>					
            <h2 style="text-align: justify; color:#97cf00">Wolox</h2>					
        </li>
        <!-- <li class="small" style="background-image: url(assets/assets/ImgHero/Ic_ilustra_Hero@2x.png);"></li>	 -->
        <img src="assets/assets/ImgHero/Ic_ilustra_Hero@2x.png" alt="Wolox Logo" style="width: 50%;">		
    </ul>
</section>


<section class="our-work" style="padding: 0px 0px !important; ">		
    <ul class="grid">
        <li class="small" style="background-image: url(assets/assets/img_woloxer.png);">
            <h2 style="text-align: center; margin-top:50px; color:#97cf00">350 + <span style="color: #00a9e5">Woloxers</span></h2>	
            <br>							
            <p style="text-align: center;">
                <a style="text-align: center;" href="https://twitter.com/intent/tweet?screen_name=wolox&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">
        @wolox
      </a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>
            <p style="text-align: center;">	
                <a href="http://www.twitter.com/Wolox" class="btntw">Siguenos</a>
            </p>
        </li>
        <li class="small" style="background-color: #f2f5fa;">
            <h2 style="text-align: center; margin-top:50px; color:#000">Trabajamos para</h2>	
            <h2 style="text-align: center; color:#00a9e5">convertir <span style="color: #97cf00">ideas </span><span style="color: #000">en</span></h2>	
            <h2 style="text-align: center; color:#000">productos.</h2>	
        </li>			
    </ul>
</section>


<section class="features" id="features">
    <h3 class="title">Entre los beneficios que ofrecemos se encuentran <span style="color: #00a9e5">:)</span></h3>	

    <ul class="grid" style="margin-top: 40px;">
        <li>
            <!-- <i class="fa fa-camera-retro"></i> -->
            <img src="assets/assets/Ic_Hour.svg" alt="Wolox Logo" style="width: 50%;">	
            <h4>Flexibilidad Horaria</h4>				
        </li>
        <li>
            <!-- <i class="fa fa-cubes"></i> -->
            <img src="assets/assets/Ic_HomeOffice.svg" alt="Wolox Logo" style="width: 50%;">	
            <h4>Home Office</h4>				
        </li>
        <li>
            <!-- <i class="fa fa-newspaper-o"></i> -->
            <img src="assets/assets/Ic_Workshops.svg" alt="Wolox Logo" style="width: 50%;">	
            <h4>Capacitaciones y workshops</h4>				
        </li>
        <li>
            <!-- <i class="fa fa-newspaper-o"></i> -->
            <img src="assets/assets/Ic_DrinkSnacks.svg" alt="Wolox Logo" style="width: 50%;">	
            <h4>Snacks, frutas y bebidas gratis</h4>				
        </li>
        <li>
            <!-- <i class="fa fa-newspaper-o"></i> -->
            <img src="assets/assets/Ic_laptop.svg" alt="Wolox Logo" style="width: 50%;">	
            <h4><br>Semana remota</h4>				
        </li>
        <li>
            <!-- <i class="fa fa-newspaper-o"></i> -->
            <img src="assets/assets/Ic_brain.svg" alt="Wolox Logo" style="width: 50%;">	
            <h4>Trabajar en ultimas tecnologías</h4>				
        </li>
    </ul>
</section>



<section class="contact background-image" style="background-image: url(assets/assets/Backgrounds/Bg_Footer@2x.png);">
    <h3 class="title">Gracias por <span style="color: #00a9e5;">completar el ejercicio</span></h3>	
    <p>Te invitamos a ver mas informacion</p>		

    <form>			
        <a href="http://www.wolox.com.ar/" class="btn">Conocer más</a>
    </form>
</section>

<footer class="background-image" style="background-image: url(assets/assets/Backgrounds/Bg_Footer@2x.png);">
    <img src="assets/assets/Ic_Wolox_Footer.svg" alt="Wolox Logo" style="width: 10%;">
    <!-- <ul>
        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
        <li><a href="#"><i class="fa fa-github-square""></i></a></li>
    </ul> -->		
</footer>
